CENSUS_API_KEY=your_census_api_key_here
POSTGRES_USER=semi_user
POSTGRES_PASSWORD=your_password_here
POSTGRES_DB=semiconductor_db
POSTGRES_PORT=5433
AIRFLOW_DB_USER=airflow_user
AIRFLOW_DB_PASSWORD=your_airflow_password_here
AIRFLOW_DB_NAME=airflow_db
AIRFLOW_ADMIN_PASSWORD=airflow_admin_password
AIRFLOW_SECRET_KEY=any_random_string_here_32chars
SEC_USER_AGENT=Your Name your_email@example.com
GOOGLE_APPLICATION_CREDENTIALS=your_secret_key_file_folder
GCP_PROJECT_ID=your_project_name
XAI_API_KEY=your_key_here